{% extends 'member_base.html' %}
{% block title %}
<title>Active Schemes</title>
{% endblock %}

{% block content %}


<div class="main main-app p-3 p-lg-4">
   {% if active_schemes %}
    <div class="col">
        <!-- New Cards Column -->
        <h3 class="mt-4 text-center">YOUR SCHEMES</h3>
        <div class="row justify-content-center g-5 g-lg-5 pt-5">
          {% for scheme in active_schemes %}
            <div class="col-sm-10 col-lg-10 ">
                <div class="card border border-info">
                    <div class="card-body">
                        <div id="response-message-{{ scheme.id }}" class="response-message text-center" style="color: red;">
                            
                        </div>
                        
                        <div class="row g-3">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                                <h6 class="card-title "><strong>Scheme Name:</strong> <em> {{ scheme.name|upper }}</em></h6>
                                <p><strong>Date added: </strong> {{ scheme.created_date|date }}</p>
                            </div>
                            
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 mb-5">
                                <p class="card-text"><strong>Description:</strong> <em>{{ scheme.description }}</em></p>
                            </div>
                        </div>

                        

                        <form action="" class="form-control application-form border border-info-subtle" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="scheme_id" value="{{ scheme.id }}">
                            <div class="d-flex  justify-content-between">
                                <a class="btn btn-primary" href="{% url 'member_contribution' tenant_id=request.tenant.id scheme_name=scheme.id member_id=user.member.staff_id %}">View Contributions</a>
                                <a class="btn btn-danger p-3" id="optOutBtn" data-bs-toggle="modal" data-bs-target="#optOutModal">Opt Out</a>
                            </div>
                            
                        </form>
                    </div>

                </div>
            </div><!-- col -->

            <!-- Modal Structure -->
            <div class="modal fade" id="optOutModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitle">Opt Out Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                            <p>Are you sure you want to opt out of the scheme?</p>
                        </div>
                        <div class="modal-footer">
                            <form class="opt-out-form" action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="scheme_id" value="{{ scheme.id }}">
                                <input type="hidden" name="member_id" value="{{ user.member.staff_id }}">
                                <button type="submit" class="btn btn-warning" id="confirmOptOut">Yes, Opt Out</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        


        </div><!-- row -->
    </div><!-- col -->
{% else %}
    <div class="col">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">No active schemes</h4>
            <p>You have not been added to any schemes yet.</p>
        </div>
    </div>
{% endif %}
<script>
    $(document).ready(function(){
        $('.opt-out-form').on('submit', function(event){
            event.preventDefault();
            
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(response){
                    if (response.status == 'success'){
                        
                        $('#optOutModal').modal('hide');
                        location.reload();
                    }
                },
                error: function(response){
                    if (response.status == 'error'){
                        //var modal = document.querySelector('.modal-body.text-center');
                        //modal.textContent = 'There was an error processing your request. Please try again later.';
                        alert('There was an error processing your request. Please try again later.');
                        //$('#optOutModal').modal('hide');
                    }
                }
            });
        });
    });
</script>
{% endblock %}