{% extends 'member_base.html' %}
{% block title %}
<title>scheme application</title>
{% endblock %}
{% block content %}
<div class="main main-app p-3 p-lg-4">
    {% if available_scheme %}
    <div class="col">
        <!-- New Cards Column -->
        <h3 class="mt-4 text-center">AVAILABLE SCHEMES</h3>
        <div class="row justify-content-center g-5 g-lg-5 pt-5">
          {% for scheme in available_scheme %}
            <div class="col-sm-10 col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div id="response-message-{{ scheme.id }}" class="response-message text-center mb-3" style="color: red;">
                            
                        </div>

                        <div class="row g-3">
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                                <h6 class="card-title "><strong>Scheme Name:</strong> <em> {{ scheme.name|upper }}</em></h6>
                                <p><strong>Date added: </strong> {{ scheme.created_date|date }}</p>
                            </div>
                            
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 mb-5">
                                <p class="card-text"><strong>Description:</strong> <em>{{ scheme.description }}</em></p>
                            </div>
                        </div>
                    </div>
                    <form action="" class="form-control application-form" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="scheme_id" value="{{ scheme.id }}">
                      
                        <div class="d-flex justify-content-end">
                                
                            <button class="btn btn-primary p-3" type="submit">Apply Here</button>
                        </div>
                    </form>
                </div>
            </div><!-- col -->
          {% endfor %}
        </div><!-- row -->
    </div><!-- col -->
    {% else %}
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h6 class="card-title">No Scheme Available</h6>
                <p class="card-text">There is no scheme available for you to join at the moment. Please check back later.</p>
            </div>
        </div>
    {% endif %}
    <!-- row -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
$(document).ready(function() {
    $('.application-form').on('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        var form = $(this);
        var schemeId = form.find('input[name="scheme_id"]').val();
        var responseMessageDiv = $('#response-message-' + schemeId);

        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function(response) {
                if (response.status === 'success') {
                    alert('Application approved successfully.');
                    form.closest('card').remove(); //remove card 

                    location.reload(); // Reload the page
                } else {
                    responseMessageDiv.html('Unexpected response status: ' + response.status);
                }
            },
            error: function(jqXHR) {
                var response = jqXHR.responseJSON; // Get the JSON response from the server
                var errorMessage = 'An error occurred. Please try again.';

                if (response && response.message) {
                    errorMessage = response.message;
                }

                responseMessageDiv.html(errorMessage);
            }
        });
    });
});
</script>



{% endblock %}
