{% extends 'member_base.html' %}

{% block title %}
<title>{{ staff_member.user.username }} 's Profile</title>
{% endblock %}

{% block content %}
<div class="main main-app p-3 p-lg-4">
  <!-- <div class="container"> -->
    <!-- <div class="main p-4 p-lg-5"> -->
      <div class="row g-5">
        <div class="col-xl">
          <div class="media-profile mb-5">
            <div class="media-img mb-3 mb-sm-0">
              <img src="{{ user.member.image.url }}" class="img-fluid" alt="...">
            </div><!-- media-img -->
            <div class="media-body">
              <h5 class="media-name">{{ user.first_name }} {{ user.last_name }}</h5>
              <p class="d-flex gap-2 mb-4"><i class="ri-map-pin-line"></i> San Francisco, California</p>
              <p class="mb-0">Redhead, Innovator, Saviour of Mankind, Hopeless Romantic, Attractive 20-something Yogurt Enthusiast. You can replace this with any content and adjust it as needed... <a href="#">Read more</a></p>
            </div><!-- media-body -->
          </div><!-- media-profile -->

          <!-- Navigation Tabs -->
          <nav class="nav nav-line mt-5">
            <a href="#personal-info-tab" class="nav-link active" data-bs-toggle="tab">Personal Information</a>
            <a href="#employment-info-tab" class="nav-link" data-bs-toggle="tab">Employment Information</a>
          </nav>

          <!-- Tab Content -->
          <div class="tab-content mt-4">
            <!-- Personal Information Tab -->
            <div class="tab-pane fade show active" id="personal-info-tab">
              <div class="card card-post mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="card-title mb-0">Personal Information</h6>
                  <a href="#" class="link-more"><i class="ri-more-2-fill"></i></a>
                </div>
                <!-- card-header -->
                <div class="card-body">
                  <div class="experience-item d-flex">
                    <div class="experience-icon">
                      <i class="ri-suitcase-line"></i>
                    </div>
                    <div class="experience-body">
                      <h5>MEMBER</h5>
                      <!-- <p>December 2020 - Present</p> -->

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <strong>Username:</strong> {{ staff_member.user.username }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Staff ID:</strong> {{ staff_member.staff_id }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Telephone Number:</strong> {{ staff_member.tel_number }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Address:</strong> {{ staff_member.address }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Date of Birth:</strong> {{ staff_member.date_of_birth }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Nationality:</strong> {{ staff_member.nationality }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Gender:</strong> {{ staff_member.get_gender_display }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Marital Status:</strong> {{ staff_member.marital_status }}
                        </div>
                      </div>
                    </div>
                    <!-- experience-body -->
                  </div>
                  <!-- experience-item -->
                </div>
                <!-- card-body -->
              </div>
            </div>

            <!-- Employment Information Tab -->
            <div class="tab-pane fade" id="employment-info-tab">
              <div class="card card-post mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="card-title mb-0">Employment Information</h6>
                  <a href="#" class="link-more"><i class="ri-more-2-fill"></i></a>
                </div>
                <!-- card-header -->
                <div class="card-body">
                  <div class="experience-item d-flex">
                    <div class="experience-icon">
                      <i class="ri-suitcase-line"></i>
                    </div>
                    <div class="experience-body">
                      <h5>{{ staff_member.job_title|upper }}</h5>
                      <p>Themepixels, Inc.</p>
                      <p>December 2020 - Present</p>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <strong>Employment Date:</strong> {{ staff_member.employment_date }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Department:</strong> {{ staff_member.department }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Job Title:</strong> {{ staff_member.job_title }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <strong>Scheme Approval:</strong> {{ staff_member.scheme_approval }}
                        </div>
                      </div>
                    </div>
                    <!-- experience-body -->
                  </div>
                  <!-- experience-item -->
                </div>
                <!-- card-body -->
              </div>
            </div>
          </div>

          <hr class="my-4 opacity-0">

          <h5 class="section-title mb-4">Contact Information</h5>
          <ul class="list-contact-info">
            <li><i class="ri-building-fill"></i><span>East Legon, Accra, Ghana</span></li>
            <li><i class="ri-home-8-fill"></i><span>{{ staff_member.address }}, Accra</span></li>
            <li><i class="ri-phone-fill"></i><span>{{ staff_member.tel_number }}</span></li>
            <li><i class="ri-mail-fill"></i><span>davido@gmail.com</span></li>
          </ul>

          <hr class="my-4 opacity-0">
<!-- 
          <h5 class="section-title mb-4">Social Channel</h5>
          <ul class="list-contact-info">
            <li><i class="ri-twitter-fill"></i><span>@username</span></li>
            <li><i class="ri-instagram-fill"></i><span>@username</span></li>
            <li><i class="ri-messenger-fill"></i><span>@username</span></li>
          </ul> -->
        </div><!-- col -->
      </div><!-- row -->


    </div><!-- main -->

{% endblock %}