# Remove db.sqlite3 from git
db.sqlite3

**/__pycache__/

**/migrations/

.venv/

**/tests/

debug.log

celerybeat-schedule.bak

celerybeat-schedule.dat

celerybeat-schedule.dir

backup.json

backup.sql

**/tests/