{% extends 'dashboard/base.html' %} {% block content %}
<div class="main main-app p-3 p-lg-4">
  <!-- <div class="d-flex align-items-center justify-content-between mb-4">
    <div>
      <ol class="breadcrumb fs-sm mb-1">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Website Analytics</li>
      </ol>
      <h4 class="main-title mb-0">Welcome to Dashboard</h4>
    </div>
    <nav class="nav nav-icon nav-icon-lg">
      <a href="#" class="nav-link" data-bs-toggle="tooltip" title="Share"><i class="ri-share-line"></i></a>
      <a href="#" class="nav-link" data-bs-toggle="tooltip" title="Print"><i class="ri-printer-line"></i></a>
      <a href="#" class="nav-link" data-bs-toggle="tooltip" title="Report"><i class="ri-bar-chart-2-line"></i></a>
    </nav>
  </div> -->

  {% comment %}
  <div class="row g-3 justify-content-center">
    <div class="col-md-12 col-xl-10">
      <div class="card card-one">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <h3 class="card-value mb-1">{{ investment_count }}</h3>
              <label class="card-title fw-medium text-dark mb-1"
                >Total Investments</label
              >
            </div>
            <!-- col -->
            <div class="col-2">
              <h3 class="card-value mb-1">{{ T_bills_count }}</h3>
              <label class="card-title fw-medium text-dark mb-1"
                >Treasury Bills</label
              >
            </div>
            <!-- col -->
            <div class="col-2">
              <h3 class="card-value mb-1">{{ F_deposit_count }}</h3>
              <label class="card-title fw-medium text-dark mb-1"
                >Fixed Deposits</label
              >
            </div>
            <!-- col -->
            <div class="col-2">
              <h3 class="card-value mb-1">{{ D_interest_count }}</h3>
              <label class="card-title fw-medium text-dark mb-1"
                >Delayed Interests</label
              >
            </div>
            <!-- col -->
            <div class="col-3">
              <div id="apexChart2"></div>
            </div>
            <!-- col -->
          </div>
          <!-- row -->
        </div>
        <!-- card-body -->
      </div>
      <!-- card-one -->
    </div>
    {% endcomment %}
    <!-- col -->

    <div class="card card-one mt-3">
      <div class="card-body p-3">
        <div class="table-responsive">
          <table class="table table-four table-bordered">
            <thead>
              <!-- <tr>
              <th>&nbsp;</th>
              <th colspan="3">Acquisition</th>
              <th colspan="3">Behavior</th>
              <th colspan="3">Conversions</th>
            </tr> -->

              <tr>
                <th>PF_Employee_2</th>
                <th>PF_Employer_2</th>
                <th>RetroEmployeeAmount_2</th>
                <th>RetroEmployerAmount_2</th>
                <th>Employee55Amount</th>
                <th>Employer55Amount</th>
                <th>RetroEmployee55Amount</th>
                <th>RetroEmployer55Amount</th>

                <!-- <th>Rate</th> -->
              </tr>
            </thead>
            <tbody>
              {% for contribution in contributions_listpf2 %}
              <tr>
                <td>
                  <a href="{% url 'contributions_details' contribution.pk  %}"
                    >{{ contribution.EmployeeNo }}</a
                  >
                </td>
                <td>{{ contribution.EmployeeAmount }}</td>
                <td>{{ contribution.EmployerAmount }}</td>
                <td>{{ contribution.RetroEmployeeAmount }}</td>
                <td>{{ contribution.RetroEmployerAmount }}</td>
                <td>{{ contribution.Employee55Amount }}</td>
                <td>{{ contribution.Employer55Amount }}</td>
                <td>{{ contribution.RetroEmployee55Amount }}</td>
                <td>{{ contribution.RetroEmployer55Amount }}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- card-body -->
    </div>
    <!-- card -->
    {% endblock %}
    <!-- main -->
  </div>
</div>
