{% extends 'dashboard/base.html' %} {% block content %}

<div class="main main-app p-4 p-lg-4">
  <div class="row g-3 justify-content-center">
    <div class="col-md-12 col-xl-10">
      <div class="card card-one">
        <div class="card-body">
          <div class="row g-5">
            <div class="row card-value text-center">
              <h2 class="mb-5 mt-5 text-decoration-underline">
                Fund Detail
              </h2>
            </div>
            <div class="col-md-4">
              <p class="mb-5 h5">No.: {{ contributions_details.EmployeeNo }}</p>
              <p class="mb-5 h5">
                FundType: {{ contributions.FundType }}
              </p>
              <p class="mb-5 h5">
                Employee Amount: {{ contributions_details.EmployeeAmount }}
              </p>
            </div>
            <div class="col-md-4">
              <!-- <p class="mb-5 h5">Name of Investment: {{ investment_detail.account_type }}</p> -->
              <p class="mb-5 h5">
                Employer Amount: {{ contributions_details.EmployerAmount }}
              </p>
              <p class="mb-5 h5">
                Retro Employee Amount: {{ contributions_details.RetroEmployeeAmount}}
              </p>
              <p class="mb-5 h5">
                Retro Employer Amount: {{ contributions_details.RetroEmployerAmount }}
              </p>
            </div>
            <div class="col-md-4">
              <p class="mb-5 h5">
                Employe 55 Amount: {{ contributions_details.Employee55Amount }}
              </p>
              <p class="mb-5 h5">
                Employer 55 Amount: {{ investment_detail.Employer55Amount }}
              </p>
              <p class="mb-5 h5">
                Contribution Date: {{ contributions_details.ContributionDate }}
              </p>
              <p class="mb-5 h5">
                Created Date: {{ contributions_details.CreatedDate }}
              </p>
            </div>
          </div>
          <!-- <input class="btn btn-primary" type="submit" value="update"> -->

          {% comment %} <div class="row g-2 d-flex justify-content-between">
            <div class="col-1">
              <a
                class="btn btn-primary"
                href="{% url 'contributions_details' contribution.pk %}"
                >update</a
              >
            </div>
            <div class="col-1 justify-content-end">
              <a
                class="btn btn-danger"
                href="{% url 'contributions_details' contribution.pk %}"
                >Delete</a
              >
            </div>
          </div> {% endcomment %}
        </div>
        <!-- card-body -->
      </div>
      <!-- card-one -->
    </div>
  </div>
  {% endblock %}
</div>
