{% extends 'dashboard/base.html' %}

{% block title %}
<title>Action Notification Mapping</title>
{% endblock %}
{% block header %}
<h5>Action Notification Mapping</h5>
{% endblock %}
{% block content %}
<div class="main main-app p-3 p-lg-4">
    <div class="row row-cols-auto g-4 g-xxl-5">
        <div class="col-xl">
            <div class="container">
                <!--  -->
                <div class="row g-4">
                    
                    <div class="col-xl">
                        <div class="transaction-form border p-3 rounded position-relative">
                            <form action="" method="POST" id="event_mapping">
                                {% csrf_token %}
                                <div class="form-floating mb-3 d-flex justify-content-center">
                            
                                    <div class="form-floating me-1">
                                        <select name="event" id="event" class="form-select">
                                            <option value="">-select-</option>
                                            {% for event,act in events %}
                                            <option value="{{ event }}">{{ act }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="event">Action</label>
                                    </div>
                                
                                    <div class="form-floating d-block mb-2">
                                        <select name="staff_id" id="staffs" class="form-select">
                                            <option value="">-select-</option>
                                            {% for staff in all_staffs %}
                                            <option value="{{ staff.id }}">{{ staff }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="staff_id">Staff</label>
                                    </div>
                                </div>
                                <!-- submit button -->
                                <div class="d-grid gap
                                -2">
                                    <button class="btn btn-outline-primary btn-lg save_mapping" type="submit">Map</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row g-4 mt-5">
                    <!-- table for previous account mappings -->
                    <h5 class="mt-2 text-center">Notification Mappings</h5>
                    <div class="table-responsive overflow-auto" style="max-height: 400px;">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th>Event</th>
                                    <th>staff</th>
                                    <th>Email</th>
                                    <th>Date Assigned</th>
                                </tr>
                            </thead>
                            <tbody id="accounts_table">
                                {% for mapping in event_mapping %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ mapping.get_event_display }}</td>
                                    <td>{{ mapping.staff }}</td>
                                    <td>{{ mapping.staff.email }}</td>
                                    <td>{{ mapping.date_assigned }}</td>
                                    <td class="text-center text-nowrap">
                                        <!-- Delete button -->
                                        <button class="btn btn-warning btn-sm delete-account">
                                            <input id="mapping_id" type="text" value="{{ mapping.id }}" hidden>

                                            <input id="scheme_id" type="text" value="{{ mapping.scheme.id }}" hidden>

                                            <input id="mappingName" type="text" value="{{ mapping.name }}" hidden>
                                            <i class="ri-delete-bin-2-line"></i>
                                        </button>
                                        <!-- Update button -->
                                        <button class="btn btn-secondary btn-sm update-mapping" data-bs-toggle="modal" data-bs-target="#updateMappingModal" id="updateButton">
                                            <!-- Hidden inputs for update form -->
                                            <input id="mapping_id" type="text" value="{{ mapping.id }}" hidden>
                                            <input id="scheme_id" type="text" value="{{ mapping.scheme.id }}" hidden>
                                            <input id="mapping_name" type="text" value="{{ mapping.name }}" hidden>
                                            <input id="debit_id" type="text" value="{{ mapping.debit_acc.id }}" hidden>
                                            <input id="credit_id" type="text" value="{{ mapping.credit_acc.id }}" hidden>
                                            
                                            <i class="ri-edit-line"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">No accounts available.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Update Modal -->

                    <div class="modal fade" id="updateMappingModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitle">Update Mapping</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <form action="" method="POST" id="updateMappingForm">
                                        {%csrf_token%}            
                                        <div class="form-floating mb-2">
                                            <select name="name" id="update_event" class="form-select">
                                                <option value="">-select-</option>
                                                {% for action,act in actions %}
                                                <option value="{{ act }}">{{ act }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="update_event">Events</label>
                                        </div>
                                        <div class="form-floating mb-2">
                                            <select name="scheme" id="update_scheme_id" class="form-select">
                                                <option value="">-select-</option>
                                                {% for scheme in schemes %}
                                                <option value="{{ scheme.id }}">{{ scheme }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="update_scheme_id">Scheme</label>
                                        </div>

                                        <div class="form-floating d-block mb-2">
                                            <select name="debit_acc" id="update_debitAccount" class="form-select">
                                                <option value="">-select-</option>
                                                {% for acc in accounts %}
                                                <option value="{{ acc.id }}">{{ acc }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="update_debitAccount">Debit Account</label>
                                                
                                        </div>

                                        <div class="form-floating d-block  mb-2">
                                            <select name="credit_acc" id="update_creditAccount" class="form-select">
                                                <option value="">-select-</option>
                                                {% for acc in accounts %}
                                                <option value="{{ acc.id }}">{{ acc }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="update_creditAccount" class="form-label">Credit Account</label>
                                        </div>

                                        <!-- Hidden inputs -->
                                        <input name="mapping_id" id="update_mapping_id" type="text" value="" hidden>
                                        <!--  -->

                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#event_mapping').on('submit', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $(this).serialize(),
                success: function(response){
                    if (response.status === 'success'){
                        window.location.reload();
                    }else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}
