{% extends 'dashboard/base.html' %}

{% load number_filter %}

{% block title %}
  <title>Overview</title>
{% endblock %}

{% block content %}
<div class="main main-app p-3 p-lg-4">

  <div class="col">
    <div class="card card-one">
      <div class="card-body p-3 p-xl-4">
        <div class="row justify-content-center g-3 mb-2 mb-xl-4">

          <div class="col-6 col-sm-4 col-md">
            <div class="finance-item">
              <div class="finance-item-circle">
                <h1><span class="h6">GH₵</span>{{ total_interest|abbreviate_number }}</h1>
                <label>Estimated Revenue</label>
              </div><!-- finance-item-circle -->
            </div><!-- finance-item -->
          </div><!-- col -->

          <div class="col-6 col-sm-4 col-md">
            <div class="finance-item">
              <div class="finance-item-circle">
                <h1><span class="h6">GH₵</span>{{ actual_revenue|abbreviate_number }}</h1>
                <label>Actual Revenue</label>
              </div><!-- finance-item-circle -->
            </div><!-- finance-item -->
          </div><!-- col -->

          <div class="col-6 col-sm-4 col-md">
            <div class="finance-item">
              <div class="finance-item-circle">
                <h1>{{ active_members|abbreviate_number }}</h1>
                <label>Total Members</label>
              </div><!-- finance-item-circle -->
            </div><!-- finance-item -->
          </div><!-- col -->

          <div class="col-6 col-sm-4 col-md">
            <div class="finance-item">
              <div class="finance-item-circle bg-gray-400">
                <h1>{{ active_inv|abbreviate_number }}</h1>
                <label>Total Investments</label>
              </div><!-- finance-item-circle -->
            </div><!-- finance-item -->
          </div><!-- col -->
          
        </div><!-- row -->

        <div class="row g-4 g-lg-5 pt-3">
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex">
              <i class="ri-wallet-2-line fs-32 lh-1 me-3"></i>
              <div>
                <h6 class="fw-semibold text-dark mb-2">Accounts Receivable</h6>
                <p class="fs-sm text-secondary mb-0">The proceeds or payment which the company will receive from its customers.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex">
              <i class="ri-refund-2-line fs-32 lh-1 me-3"></i>
              <div>
                <h6 class="fw-semibold text-dark mb-2">Accounts Payable</h6>
                <p class="fs-sm text-secondary mb-0">Money owed by a business to its suppliers shown as a liability.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex">
              <i class="ri-exchange-line fs-32 lh-1 me-3"></i>
              <div>
                <h6 class="fw-semibold text-dark mb-2">Quick Ratio</h6>
                <p class="fs-sm text-secondary mb-0">Measures the ability of a company to use its near cash or quick assets.</p>
              </div>
            </div>
          </div><!-- col -->
          <div class="col-sm-6 col-xl-3">
            <div class="d-flex">
              <i class="ri-exchange-dollar-line fs-32 lh-1 me-3"></i>
              <div>
                <h6 class="fw-semibold text-dark mb-2">Current Ratio</h6>
                <p class="fs-sm text-secondary mb-0">Measures whether a firm has enough resources to meet its short-term obligations.</p>
              </div>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- card-body -->
    </div><!-- card -->
  
  
  <!-- row -->

  <div class="row mt-5">

    <!-- Current Bank Interest Rates -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="text-dark">Current Bank Interest Rates</h4>
        </div>
        <div class="card-body">
          {% for rate in interest_rates %}
            <div class="p-3 mb-3 rounded">
              <h5 class="fw-semibold">Bank Name: {{ rate.bank_name }}</h5>
              <p class="text-secondary mb-0">Interest Rate: {{ rate.interest_rate }}%</p>
            </div
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Available Investment Schemes -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="text-dark">Available Investment Schemes</h4>
        </div>
        <div class="card-body">
          {% for scheme in schemes %}
            <div class="p-3 mb-3 rounded">
              <h5 class="fw-semibold">{{ scheme.name }}</h5>
              <p class="text-secondary mb-1">Investment Type: {{ scheme.eligibility_criteria_months }}</p>
              <p class="text-secondary mb-1">Minimum Investment: {{ scheme.created_date }}</p>
              <p class="text-secondary mb-1">Description: {{ scheme.description }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Gender Enrollment -->
    <div class="col-md-4">
      <div class="card card-one">
        <div class="card-header">
          <h4 class="text-dark">Gender Enrollment</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-one">
              <thead>
                <tr>
                  <th>Schemes</th>
                  <th>Males</th>
                  <th>Females</th>
                </tr>
              </thead>
              <tbody>
                {% for scheme_name, gender_counts in gender_counts_by_scheme.items %}
                <tr>
                  <td>
                    <div class="d-flex align-items-center fw-medium">

                      <h5>{{ scheme_name }}</h5>
                    </div>
                  </td>
                  <td>{{ gender_counts.Male }}</td>
                  <td>{{ gender_counts.Female }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div> <!-- End of Row -->

</div>
{% endblock %}