{% extends 'dashboard/base.html' %}
{% block title %}
<title>General Payout</title>
{% endblock %}
{% block header %}
<h5>General Payout</h5>
{% endblock %}


{% block content %}
<div class="main main-app p-3 p-lg-4">
    <div class="row row-cols-auto g-4 g-xxl-5 justify-content-center">
        <div class="col-12">
            <div class="container">
                <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                    <div class="col-6 col-md-3 col-lg-8 d-flex flex-row justify-content-between align-items-center">
                        <!-- Scheme Select -->
                        <div class="form-floating w-100 me-2">
                            <select class="form-select" name="scheme" id="scheme" aria-placeholder="">
                                <option value="">--select--</option>
                                {% for scheme in schemes %}
                                <option value="{{ scheme.id }}">{{ scheme }}</option>
                                {% endfor %}
                            </select>
                            <label for="scheme">Scheme</label>
                        </div>

                        <!-- Payment Mode Select -->
                        <div class="form-floating w-100 me-2">
                            <select class="form-select" name="scheme" id="mode_of_payment" aria-placeholder="">
                                <option value="">--select--</option>
                                <option value="cheque">Cheque</option>
                                <option value="bank">Bank</option>
                            </select>
                            <label for="scheme">Mode of Payment</label>
                        </div>
                        <!-- Bank Select -->
                        <div class="d-none form-floating w-100 bank_select">
                            <select class="form-select" name="scheme" id="bank" aria-placeholder="">
                                <option value="">--select--</option>
                                {% for bank in banks %}
                                <option value="{{ bank.id }}">{{ bank }}</option>
                                {% endfor %}
                            </select>
                            <label for="scheme">Bank</label>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-4 d-flex justify-content-end align-items-center">
                        <!-- Payout button -->
                        <button type="button" class="btn btn-outline-secondary btn-lg" id="payout">Pay</button>
                    </div>
                </div>


                <!-- Table to hold list of members payments to be processed -->
                <div class="table-responsive overflow-auto" style="height: 500px;">
                    <table class="table table-bordered table-striped" id="members_table">
                        <thead class="thead-light text-center">
                            <th>
                                <input type="checkbox" name="select_all" id="select_all">
                            </th>
                            <th>Staff Number</th>
                            <th>Name</th>
                            <th>Withdrawal Amount</th>
                            <th>Request Date</th>
                            <th>Reference Number</th>
                            <th>Last Payment Date</th>
                        </thead>
                        <tbody>
                            <!-- Data Populated Dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script -->
 <script>
    // Function to format and display a datetime string
    function formatDateTime(dateString, elementId) {
        if (!dateString) {
            return 'N/A';
        }
        // Create a Date object from the given string
        const date = new Date(dateString);

        // Check if the date is invalid
        if (isNaN(date.getTime())) {
            return 'N/A';  // Return error message if the date is invalid
        }

        // Use toLocaleString() to format the date into a readable format
        const formattedDate = date.toLocaleString('en-US', { 
            //weekday: 'long', 
            year: 'numeric', 
            month: 'long', 
            day: 'numeric', 
            hour: 'numeric', 
            minute: 'numeric', 
            //second: 'numeric',
            //timeZoneName: 'short'
        });

        //return the formatted date
        return formattedDate;
    }


    $(document).ready(function(){
        //Disable bank select on page load
        $('#bank').prop('disabled', true);
        //hide bank select
        //$('.bank_select').hide();

        //Disable bank select
        $('#mode_of_payment').on('change', function(e){
            e.preventDefault();
            var modeOfPayment = $(this).val();
            if(modeOfPayment === 'bank'){
                $('.bank_select').removeClass('d-none');
                $('#bank').prop('disabled', false);
            }else{
                $('#bank').prop('disabled', true);
                $('.bank_select').addClass('d-none');
            }
        });

        // Select all checkbox
        $('#select_all').click(function(){
            if(this.checked){
                $('input[name=staff_id]').each(function(){
                    this.checked = true;
                });
            }else{
                $('input[name=staff_id]').each(function(){
                    this.checked = false;
                });
            }
        });

        //Fetch Members 
        $('#scheme').on('change', function(e){
            e.preventDefault();
            var schemeId = $(this).val();
            var tenantId = '{{ request.tenant.id }}';
            $.ajax({
                url:`/${tenantId}/fund/fetch-members/`,
                type: 'GET',
                data: {
                    'scheme_id': schemeId
                },
                success: function(response){
                    console.log(response);
                    if(response.status === 'success'){
                        var members = response.members
                        var table = $('#members_table tbody');

                        //clear existing data
                        table.empty();

                        //If no records found
                        if(members.length === 0){
                            var row = `
                                <tr>
                                    <td colspan="7" class="text-center">No records found</td>
                                </tr>
                            `;
                            table.append(row);
                            return;
                        }

                        //Populate with new data
                        members.forEach(member => {
                            var row = `
                                <tr class="text-center">
                                <td>
                                    <input type="checkbox" name="staff_id" id="staff_id" value="${ member.staff_id }">

                                    <input type="checkbox" name="ref_number" id="ref_number" value="${ member.id }" hidden>
                                </td>
                                <td>${ member.staff_number }</td>
                                <td>${ member.first_name } ${ member.last_name }</td>
                                <td>${ member.amount }</td>
                                <td>${ formatDateTime(member.request_date) }</td>
                                <td>${ member.id }</td>
                                <td>${ formatDateTime(member.last_withdrawal_date) }</td>
                            </tr>
                            `;
                            console.log(row);
                            //Append row to table
                            table.append(row);

                        });

                    }else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    console.log(error);
                }
            }); 
        });


        //Payout Function to post data to the server
        $('#payout').on('click', function(e){
            e.preventDefault();
            var tenantId = '{{ request.tenant.id }}';
            var schemeId = $('#scheme').val();
            var payoutType = $('input[name=payout_type]:checked').val();
            var staffIds = [];
            var ref_ids = [];
            var bankId = $('#bank').val();
            var modeOfPayment = $('#mode_of_payment').val();

            if (!modeOfPayment){
                alert('Please select mode of payment');
                return;
            }

            if (modeOfPayment === 'bank' && !bankId){
                alert('Please select bank');
                return;
            }

            $('input[name=staff_id]:checked').each(function(){
                staffIds.push($(this).val());
                // append corresponding ref number to the ref_ids array
                ref_ids.push($(this).next().val());
            });

            console.log(staffIds, ref_ids);
            //Check if staff ids are empty
            if(staffIds.length === 0){
                alert('Please select at least one member');
                return;
            }

            //Post data to the server
            $.ajax({
                url:``,
                type: 'POST',
                //traditional:true, //This is to allow array to be sent to the server
                data: {
                    'scheme_id': schemeId,
                    'payout_type': payoutType,
                    'staff_ids': staffIds,
                    'ref_ids': ref_ids,
                    'bank_id': bankId,
                    'mode_of_payment': modeOfPayment,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response){
                    console.log(response);
                    if(response.status === 'success'){
                        alert(response.message);
                    }else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        })
    });
 </script>
{% endblock %}