{% extends 'dashboard/base.html' %}


{% block content %}
<div class="main main-app p-3 p-lg-4">
  <div class="row row-cols-auto g-4 g-xxl-5">
      <div class="col-xl">
          <div class="container">
            <h2 class="mb-5">Investment Detail</h2>

            <form method="POST">
              {% csrf_token %}
                <div class="row g-5">
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label for="investmentType" class="form-label">Investment Type</label>
                      <select class="form-control" name="investment_type" id="investmentType">
                        {% for acc,label in inv_type %}
                        <option value="{{acc}}">{{ label }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group mb-3">
                      <label for="investmentId" class="form-label">Investment Name</label>
                      <input type="text" class="form-control" id="investmentId" min="1" name="account_name">
                    </div>

                    <div class="form-group mb-3">
                      <label for="investmentName" class="form-label">Account Type</label>
                      <select class="form-control" name="account_type" id="investmentName">
                      {% for acc,label in account_type %}
                      <option value="{{acc}}">{{ label }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label class="form-label" for="principal_amount">Principal Amount</label>
                      <input type="number" class="form-control" id="principal_amount" name="principal_amount">
                    </div>

                    <div class="form-group mb-3">
                      <label for="investmentDate" class="form-label">Account Number</label>
                      <input type="number" class="form-control" id="investmentDate" name="account_number">
                    </div>

                    <div class="form-group mb-3">
                      <label for="maturityDate" class="form-label">Percentage Interest</label>
                      <input type="number" min="1" step="0.01" class="form-control" id="maturityDate" name="interest_percentage">
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label for="investmentAmount" class="form-label">Investment Start Date</label>
                      <input type="date" class="form-control" id="investmentAmount" name="interest_start_date">
                    </div>
                    <div class="form-group mb-3">
                      <label for="investmentTerm" class="form-label">Investment End Date</label>
                      <input type="date" class="form-control" id="investmentTerm" name="interest_end_date">
                    </div>

                  </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- main -->
{% endblock %}

