{% extends 'dashboard/base.html' %}
{% block title %}
<title>Update Investment Detail</title>
{% endblock %}
{% block header %}
<h5 class="fw-bold"><i class="bi bi-graph-up me-2"></i>Update Investment Detail</h5>
{% endblock %}

{% block content %}
<div class="main main-app p-3 p-lg-4">
  <div class="row row-cols-auto g-4 g-xxl-5">
      <div class="col-xl">
          <div class="container">
            <form method="POST" id="inv_update_form">
              {% csrf_token %}

              <div class="row g-5">
                <div class="col-md-4">
                  <!-- Investment Type -->
                  <div class="form-floating">
                    <input id="invoice_number" class="form-control" type="text" value="{{ invoice_number }}" placeholder="" disabled>
                    <label for="invoice_number" class="form-label">Invoice No. </label><br>
                  </div>

                  <div class="form-floating mb-3">
                    {{ form.investment_type }}
                    <label for="{{ form.investment_type.id_for_label }}" class="form-label">Investment Type</label>
                  </div>

                  <!-- Account Name -->
                  <div class="form-floating mb-3">
                    {{ form.account_name }}
                    <label for="{{ form.account_name.id_for_label }}" class="form-label">Account Name</label>
                  </div>

                  <!-- Account Type -->
                  <div class="form-floating mb-3">
                    {{ form.account_type }}
                    <label for="{{ form.account_type.id_for_label }}" class="form-label">Account Type</label>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <!-- Type -->
                  <div class="form-floating mb-3">
                    {{ form.type_of_tbill }}
                    <label for="{{ form.account_type.id_for_label }}" class="form-label">Investment Type</label>
                  </div>
                  <!-- Principal Amount -->
                  <div class="form-floating mb-3">
                    {{ form.principal_amount }}
                    <label for="{{ form.principal_amount.id_for_label }}" class="form-label">Principal Amount</label>
                  </div>

                  <!-- Account Number -->
                  <div class="form-floating mb-3">
                    {{ form.account_number }}
                    <label for="{{ form.account_number.id_for_label }}" class="form-label">Account Number</label>
                  </div>

                  <!-- Percentage Interest -->
                  <div class="form-floating mb-3">
                    {{ form.interest_percentage }}
                    <label for="{{ form.interest_percentage.id_for_label }}" class="form-label">Percentage Interest</label>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <!-- Investment Start Date -->
                  <div class="form-floating mb-3">
                    {{ form.interest_start_date }}
                    <label for="{{ form.interest_start_date.id_for_label }}" class="form-label">Investment Start Date</label>
                  </div>

                  <!-- Investment End Date -->
                  <div class="form-floating mb-3">
                    {{ form.interest_end_date }}
                    <label for="{{ form.interest_end_date.id_for_label }}" class="form-label">Investment End Date</label>
                  </div>
                </div>
              </div>

              <!-- Submit Button -->
              <button type="submit" class="btn btn-outline-primary btn-lg">Save changes</button>
            </form>
          </div>
      </div>
    </div>
  </div>

  <script>
    $('#inv_update_form').submit(function(e){
      e.preventDefault();
      var form = $(this);
      var url = form.attr('action');
      var data = form.serialize();

      $.ajax({
        type: 'POST',
        url: url,
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: data,

        success: function(response){
          if (response.status === 'success'){

            alert('Investment updated successfully');
            window.location.reload();
            //if (response.redirect_url){
            //  window.location.href=response.redirect_url;
            //}
          }else{
            alert(response.message);
          }
        },
        error: function(jqXHR){
          var response = jqXHR.responseJSON;
          if(response && response.message){
            var errorMessage = response.message;
            alert(errorMessage);
          }else{
            alert('An error occurred. Please try again.');
          }
        }
      });
    });
  </script>
{% endblock %}
