{% extends 'dashboard/base.html' %}

{% block search %}

{% endblock %}


{% block content %}
<div class="main main-app p-3 p-lg-4">

    <div class="d-md-flex align-items-center justify-content-between mb-4">
        <div>

        </div>
        <div class="d-flex gap-2 mt-3 mt-md-0">
          <button type="button" class="btn btn-white d-flex align-items-center gap-2"onclick="printTable()" ><i class="ri-printer-line fs-18 lh-1"></i>Print</button>
          <button type="button" class="btn btn-primary d-flex align-items-center gap-2" onclick="exportTableToCSV('table_data.csv')"><i class="ri-bar-chart-2-line fs-18 lh-1"></i>Generate<span class="d-none d-sm-inline"> Report</span></button>
        </div>
    </div>


    <!--Search Form -->
    <form class="form-search d-flex flex-wrap align-items-center justify-content-between" method="GET">
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <label for="sort" class="me-2"></label>
            <select class="form-control rounded-pill fst-italic bg-secondary text-light" name="sort" id="sort">
                <option value="">--Sort by--</option>
                <option value="start_date">Start Date</option>
                <option value="created_date">Created Date</option>
            </select>
        </div>
    
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <label for="invoice" class="me-2"></label>
            <input type="text" class="form-control rounded-pill fst-italic bg-secondary text-light" name="invoice_number" id="from-date" placeholder="Invoice Number">
        </div>
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <label for="from-date" class="me-2">From:</label>
            <input type="date" class="form-control rounded-pill fst-italic bg-secondary text-light" name="from-date" id="from-date">
        </div>
    
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <label for="to-date" class="me-2">To:</label>
            <input type="date" class="form-control rounded-pill fst-italic bg-secondary text-light" name="to-date" id="to-date">
        </div>
    
        <div class="d-flex align-items-center mb-2 mb-md-0" id="inv_type">
            <label for="investmentType" class="me-2"></label>
            <select class="form-control rounded-pill fst-italic bg-secondary text-light" name="inv_type" id="investmentType">
                <option value="">--Category--</option>
                <option value="Treasury Bill">Treasury Bill</option>
                <option value="Fixed Deposit">Fixed Deposit</option>
            </select>
        </div>
    
        <div class="t_bill_type d-flex align-items-center mb-2 mb-md-0">
            <label for="Type" class="me-2"></label>
            <select class="form-control rounded-pill fst-italic bg-secondary text-light" name="type_of_tbill" id="Type">
                <option value="">--Type--</option>
                <option value="91 days">91 days</option>
                <option value="182 days">182 days</option>
                <option value="365 days">365 days</option>
            </select>
        </div>
    
        <div class="d-flex align-items-center mb-2 mb-md-0">
            <label for="status" class="me-2"></label>
            <select class="form-control rounded-pill fst-italic bg-secondary text-light" name="status" id="status">
                <option value="">--Status--</option>
                <option value="Not started">Not started</option>
                <option value="active">Active</option>
                <option value="matured">Matured/Expired</option>
            </select>
        </div>
    
        <div class="mb-2 mb-md-0">
            <button type="submit" class="btn btn-primary rounded-pill fst-italic w-100 w-md-auto">
                <i class="ri-search-line"></i> Search
            </button>
        </div>
    </form>


<!-- Form for query -->
<div class="row g-3 justify-content-center">

    <div class="col-md-12 col-xl-10">

    </div>
<!-- Form for query -->

        <!--Search Results Table -->
        <div class="col-md-12 col-xl-10">
            <div class="card card-two">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-hover table-striped table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Invoice No.</th>
                                    <th scope="col">Add Date</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Maturity Date</th>
                                    <th scope="col">Investment Type</th>
                                    <th scope="col">Interest Rate</th>
                                    <th scope="col">Principal</th>
                                    <th scope="col">Interest</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <div>
                                <div class="paginated-data">
                                    {% if results %}
                                    {% for inv in results %}
                                    
                                        <tr>
                                            <td>{{ forloop.counter0|add:results.start_index|default:forloop.counter }}</td>
                                            <td><a href="{% url 'investment_detail' scheme_name=request.scheme_name tenant_id=request.tenant.id pk=inv.pk %}">{{ inv.invoice_number }}</a></td>
                                            <td>{{ inv.created_date }}</td>
                                            <td>{{ inv.interest_start_date }}</td>
                                            <td>{{ inv.interest_end_date }}</td>
                                            <td>{{ inv.investment_type }}</td>
                                            <td>{{ inv.interest_percentage }}</td>
                                            <td>{{ inv.principal_amount }}</td>
                                            <td>{{ inv.interest_amount|floatformat:2 }}</td>
                                            <td>{{ inv.status }}</td>

                                        </tr>
                                    
                                        
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td class="text-center text-danger " colspan="10">No records match your search</td>
                                    </tr>
                                    {% endif %}
                                </div>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                    {% if results.has_previous %}
                    <li class="page-item">
                    <a
                        class="page-link"
                        href="?page={{ results.previous_page_number }}&{{ query_string }}"
                        aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                    <a class="page-link" href="#">{{ results.number }}</a>
                    </li>
                    {% if results.has_next %}
                    <li class="page-item">
                    <a
                        class="page-link"
                        href="?page={{ results.next_page_number }}&{{  query_string}}"
                        aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>

                    <li class="page-link">
                        <a href="?page={{ results.paginator.num_pages }}&{{ query_string }}">&raquo;&raquo;</a>
                    </li>
                    {% endif %}
              </ul>
            </nav>
            {% endif %}
        
    </div>
</div>



<!-- PRINTING AND EXPORTING AS CSV -->
<script>
    function printTable() {
        var printContents = document.getElementById('data-table').outerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

    function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("#data-table tr");

        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
            
            for (var j = 0; j < cols.length; j++) {
                row.push(cols[j].innerText);
            }
            
            csv.push(row.join(","));        
        }

        // Create a link to download CSV
        var csvFile = new Blob([csv.join("\n")], { type: "text/csv" });
        var downloadLink = document.createElement("a");
        downloadLink.download = filename;
        downloadLink.href = window.URL.createObjectURL(csvFile);
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    }    
</script>


<!-- PRINTING AND EXPORTING AS CSV -->


{% endblock %}