{% extends 'dashboard/base.html' %}

{% block content %}

<div class="main main-app p-4 p-lg-4">
    <div class="row g-3 justify-content-center">
       
        <div class="col-md-12 col-xl-10">
          <div class="card card-one">
            <div class="card-body">
                <div class="row g-5">
                    <div class="row card-value text-center">
                        <h2 class="mt-5 text-decoration-underline">
                            Rollover Detail
                        </h2>
                    </div>

                    
                    <form method="POST" id="rollover-form">
                        {% csrf_token %}
                        <div class="row g-5">
                            <div class="info text-center">
                                <!-- Information to be displayed to user -->
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="rollover_type" id="full" autocomplete="off" checked>
                                    <label class="btn btn-outline-secondary" for="full">Full</label>
                                    <input type="radio" class="btn-check" name="rollover_type" id="partial" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="partial">Partial</label>
                                </div>
        
                                <div class="form-group mb-3">
                                    <label for="principal" class="form-label">Rollover Principal: </label>
                                    <input class="form-control" id="principal" name="principal" type="number" step="0.01" placeholder="{{ rollover.interest_amount }}" value="{{ rollover.interest_amount }}" disabled>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="rate" class="form-label">New Rate (%): </label>
                                    <input class="form-control" id="rate" name="rate" type="number" step="0.01" placeholder="{{ rollover.interest_percentage }}" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="scheme" class="form-label">Scheme: </label>
                                    <input class="form-control" id="scheme" name="scheme" type="text" placeholder="{{ rollover.investment_scheme.name }}" value="{{ rollover.investment_scheme.name }}" disabled>
                                    <!-- <input type="number" name="scheme_id" hidden value="{{ rollover.investment_scheme.id }}"> -->
                                </div>
        
                            </div>

                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="start_date" class="form-label">Start Date: </label>
                                    <input class="form-control" id="start_date" name="start_date" type="date" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="maturity_date" class="form-label">Maturity Date: </label>
                                    <input class="form-control" id="maturity_date" name="maturity_date" type="date" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="inv_type" class="form-label">Investment Type: </label>
                                    <input class="form-control" id="inv_type" name="inv_type" type="text" placeholder="{{ rollover.investment_type }}" value="{{ rollover.investment_type }}" readonly>
                                </div>
                            </div>
                    
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label for="maturity_date" class="form-label"> Name: </label>
                                    <input class="form-control" id="inv_name" name="inv_name" type="text" placeholder="{{ rollover.account_name }}" value="{{ rollover.account_name }}" disabled>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="account_type" class="form-label"> Account Type: </label>
                                    <input class="form-control" id="account_type" name="account_type" type="text" placeholder="{{ rollover.account_type }}" value="{{ rollover.account_type }}" disabled>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="account_number" class="form-label"> Account Number: </label>
                                    <input class="form-control" id="account_number" readonly name="account_number" type="number" value="{{rollover.account_number}}" placeholder="{{ rollover.account_number }}">
                                </div>
                            </div>
                
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>                    
                </div>
            </div><!-- card-body -->
          </div><!-- card-one -->
    </div>
</div>

<script>
    // make the principal amount field read only if the rollover type is full and vice versa
    $(document).ready(function(){
        $('#full').click(function(){
            $('#principal').prop('disabled', true);
        });
        $('#partial').click(function(){
            $('#principal').prop('disabled', false);
        });
    });



    $(document).ready(function(){
        $('#rollover-form').submit(function(e){
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var data = form.serialize();
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(response){
                    
                    if(response.status === 'success'){
                        alert('Rollover Successful');
                        window.location.href = response.redirect_url;
                    }else{
                        $('.info').text(response.message).css('color', 'red');

                    }
                },
                error: function(jqXHR,error){
                    response = jqXHR.responseJSON;
                    message = response.message;
                    alert('An error occured. Please try again'+ message);
                }
            });
        });
    });
</script>
{% endblock %}