{% extends 'dashboard/base.html' %}

{% block title %}
<title>Withdrawal Batch Approval</title>
{% endblock %}

{% block header %}
<h5 class="fw-bold"><i class="bi bi-journal-medical me-2"></i>Withdrawal Batch Approval</h5>
{% endblock %}

{% block content %}

<div class="main main-app p-3 p-lg-4">
    <div class="row row-cols-auto g-4 g-xxl-5 justify-content-center">
        <div class="col-12">
            <div class="container">
                <div class="col-12 d-flex justify-content-end align-items-center mb-3">
                    <div class="col-6 col-md-3 col-lg-4 d-flex justify-content-end align-items-center">
                        <!-- Payout button -->
                        <button type="button" class="btn btn-outline-secondary btn-lg" id="approve">Approve</button>
                    </div>
                </div>


                <!-- Table to hold list of members payments to be processed -->
                <div class="table-responsive overflow-auto">
                    <table class="table table-bordered table-striped" id="members_table">
                        <thead class="thead-light text-center">
                            <th>
                                <!-- <input type="checkbox" name="select_all" id="select_all"> -->
                            </th>
                            <th>Batch ID</th>
                            <th>Scheme</th>
                            <th>Total Amount</th>
                            <th>Date Created</th>
                            <th>Last Updated</th>
                            <th>First Approval</th>
                        </thead>
                        <tbody class="text-center">
                            {% if batch_withdrawals %}
                            {% for batch in batch_withdrawals %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="batch_id" value="{{ batch.id }}">
                                </td>
                                <td><a href="{% url 'batch_withdrawal_list' tenant_id=request.tenant.id batch_id=batch.id %}">{{ batch.id }}</a></td>
                                <td>{{ batch.scheme }}</td>
                                <td>{{ batch.total_amount }}</td>
                                <td>{{ batch.date_created }}</td>
                                <td>{{ batch.last_updated }}</td>
                                <td>{{ batch.first_approval }}</td>
                            </tr>
                            {% endfor %}

                            {% else %}
                            <tr>
                                <td colspan="7" class="text-center">No batch withdrawal to approve</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#approve').click(function(){
            const batch_id = [];
            $('input[name=batch_id]:checked').each(function(){
                batch_id.push($(this).val())
            });
            console.log(batch_id);

            if(batch_id.length === 0){
                alert('Please select at least one batch to approve');
            }else{
                $.ajax({
                    url: '',
                    method: 'POST',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {batch_id: batch_id},
                    success: function(response){
                        if (response.status === 'success'){
                            alert(response.message);
                            window.location.reload();
                        }else{
                            alert('An error occured:' +response.message);
                        }
                    },
                    error: function(data){
                        alert('An error occured');
                    }
                });
            }
        });
    })
</script>
{% endblock %}