{% extends 'dashboard/base.html' %}


{% block content %}
<div class="main main-app p-3 p-lg-4">
  <div class="row row-cols-auto g-4 g-xxl-5">
      <div class="col-xl">
          <div class="container">
            <h2 class="mb-5">Scheme Configuration</h2>

            <form method="POST">
              {% csrf_token %}
                <div class="row g-5">
                  <div class="col-md-4">

                    <div class="form-group mb-3">
                      <label for="scheme_name" class="form-label">Scheme Name</label>
                      <input class="form-control" type="text" name="name" id="scheme_name">
                    </div>

                    <div class="form-group mb-3">
                      <label for="cont_time" class="form-label">Contribution Time</label>
                      <input class="form-control" type="time" name="contribution_time" id="cont_time">
                    </div>


                    <div class="form-group mb-3">
                      <label for="dist_freq" class="form-label">Distribution Frequency</label>
                      <select class="form-control" name="distribution_frequency" id="dist_freq">
                        {% for freq,label in frequency %}
                        <option value="{{freq}}">{{ label }}</option>
                        {% endfor %}
                      </select>
                    </div>


                  </div>

                  <div class="col-md-4">

                    <div class="form-group mb-3">
                      <label for="cont_date" class="form-label">Contribution Date</label>
                      <input class="form-control" type="date" name="contribution_date" id="cont_date">
                    </div>

                    <div class="form-group mb-3">
                      <label for="delayed_int" class="form-label">Include Delayed Interest Field? :</label>
                      
                      <select class="form-control" id="delayed_int" name="delayed_int">
                        {% for opt,label in options %}
                        <option value="{{ opt }}">{{ label }}</option>
                        {% endfor %}
                      </select>
                      
                    </div>

                    <div class="form-group mb-3">
                      <label for="bank_int" class="form-label">Include Bank Interest & Charges Field? :</label>
                      
                      <select class="form-control" id="bank_int" name="bank_int">
                        {% for opt,label in options %}
                        <option value="{{ opt }}">{{ label }}</option>
                        {% endfor %}
                      </select>
                      
                    </div>

                  </div>
          
                  <div class="col-md-4">



                    <div class="form-group mb-3">
                      <label class="form-label" for="dist_perc">Distribution Percentage</label>
                      <input type="number" step="0.01" min="1" class="form-control" id="dist_perc" name="distribution_percentage">
                    </div>

                    <div class="form-group mb-3">
                      <label for="eligbility" class="form-label">Eligibility Criteria: Number of Months</label>
                      <input type="number" class="form-control" id="eligbility" name="eligibility_criteria_months">
                    </div>

                    <div class="form-group mb-3">
                      <label for="pay_freq" class="form-label">Payout Frequency</label>
                      <select class="form-control" name="payout_frequency" id="pay_freq">
                        {% for freq,label in payout_frequency %}
                        <option value="{{freq}}">{{ label }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
          
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                      <label for="desc" class="form-label">Description</label>
                        <textarea class="form-control" id="desc" name="description" cols="9" rows="10"></textarea>
                    </div>

                  </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Submit">
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- main -->
{% endblock %}

