{% extends 'admin_panel/base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-2xl font-bold text-center">Add User</h2>
    <form method="POST" class="bg-white p-6 rounded-lg shadow-md">
        {% csrf_token %}
        <div class="mb-4">
            <label for="first_name" class="form-label">Username</label>
            <input type="text" class="form-control" id="first_name" name="username" placeholder="Enter Username name">
        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password1" placeholder="Enter password">
        </div>
        
        <div class="mb-4">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="password2" placeholder="Confirm password">
        </div>
       
        <button type="submit" class="btn btn-primary w-full">Add User</button>
    </form>
</div>
{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

{% endblock %}
